<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Gin Application</title>
</head>
<body>
    <form method="post" action="/chatPost">
        <div class="main-content">
            <h1>ChatList</h1>
            <div class="chatList">
                {{$i := .userId}}
                {{range .chatList}}
                    {{if eq  $i .UserID}}
                        <!-- 自分が投稿したチャットの内容-->
                        <div class="minePost post">
                            <!--投稿者-->
                            <div class="contributer">{{.Contributer}}</div>
                            <!--投稿文-->
                            <div class="text">{{.ChatText}}</div>
                        </div><br>
                    {{else}}
                       <!-- 自分以外が投稿したチャットの内容-->
                        <div class="otherPost post">
                            <!--投稿者-->
                            <div class="contributer">{{.Contributer}}</div>
                            <!--投稿文-->
                            <div class="text">{{.ChatText}}</div><br>
                        </div>
                    {{end}}
                {{end}}
            </div>
            <input type="text" name="chatText" placeholder="入力してください" style="width: 90%;">
            <input type="submit" name="botButton" value="投稿" style="width: 8%;">
        </div>
    </form>
</body>
</html>