{
  "application_mode": 1,
  "upload-directory":"",
  "application_port":"8080",
  "allow_ip":[],
  "dbconfig": {
    "DBMS": "",
    "USER": "",
    "PASSWORD": "",
    "PROTOCOL": "",
    "DBNAME": "GODB"
  },
  "logPath": {
    "directory": "log",
    "info": "infoLog.log",
    "error": "errorLog.log"
  }
}
